	*{
		margin: 0;
		padding: 0;
	}

	/* font */
	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

	header{
		width: 100%;
		background: #f4f4f4;
		position: fixed;
		z-index: 10;
	}
	header ul{
		margin: 0;
		padding:0;
		display: flex;
	}
	header ul li {
	 	margin-left: 60px;
	 	position: relative;
	 }
	header ul li a{
	 	font-family: 'Roboto Condensed', sans-serif !important;
	 	position: relative;
	 	height: 30px !important;
	  	font-size: 15px;
	  	font-weight: 600;
	  	overflow: hidden;
	  	display: block;
	 }
	header ul li a span{
		width: 100%;
		height: 100%;
		display: block;
		transition: 0.5s;
	}
	header ul li a span:nth-child(1){
		color: black;
	}
	header ul li a span:nth-child(2){
		padding-top: 20px;
		color: black;
	}
	header ul li:hover a span:nth-child(1){
		transform: translateY(-200%);
	}
	header ul li:hover a span:nth-child(2){
		transform: translateY(-180%);
	}
	header ul li button{
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid black;
		font-size: 13px;
	  	font-weight: 600;
	  	padding: 10px 30px;
		cursor: pointer;
		transition: color 0.5 ease-in-out;
		position: relative;
		background: none;
	}
	header ul li button:hover{
		color: white;
	}

	header ul li  button::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background: black;
		z-index: -1;
		transition: transform 1s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	}
	header ul li button::before{
		transform: scaleX(0);
	}

	header ul li button:hover::before{
		transform: scaleX(1);
	}


	 /* main */





	section .main{
		z-index: 9;
	}

	section  #con1 {
		padding-top: 180px;
	}

	section  #con1 h1{
		font-weight: bold;
		font-size: 35px;
		letter-spacing: 1px;
		font-family: 'Roboto Condensed', sans-serif !important;
		line-height: 1.4;
		z-index: 9;
	}

	section .carousel{
		margin-top: 100px;
	}

	section .carousel-indicators{
		z-index: 9;
	}
	section .carousel-indicators li {
	  width: 30px;
	  height: 10px;
	  border-radius: 50%;
	  transition: 0.5s;
	  background: #696969;
	  text-align: center;
	}
	section .carousel-indicators li:nth-child(2){
		margin: 0 50px;
	}
	section .carousel-indicators li:hover{
		background: #DCDCDC;
		box-shadow: 0 0 10px rgba(255,255,255,1),
					0 0 20px rgba(255,255,255,1),
					0 0 30px rgba(255,255,255,1),
					0 0 0 75px rgba(255,255,255,0.05),
					0 0 0 60px rgba(255,255,255,0.05),
					0 0 0 45px rgba(255,255,255,0.05),
					0 0 0 30px rgba(255,255,255,0.05),
					0 0 0 15px rgba(255,255,255,0.05);
	}
	section .carousel-item img{
		height: 500px;
	}
	section .carousel-caption{
	  	background-color: white;
	  	width: 300px;
	  	height: 300px;
	  	color: black;
	  	z-index: 8;
	  	margin-bottom: 80px;
	  	overflow: hidden;
	}
	section .carousel-caption h5{
		margin-top: 10px;
	}
	section .carousel-caption p{
		color: black;
		margin-top: 10px;
	}
	section .carousel-caption .hover{
		margin:15px auto;
		width: 150px;
		height: 50px;
		border:1px solid black;
		overflow: hidden;
		border-radius: 10px;
		cursor: pointer;
		transition: color 0.5 ease-in-out;
		position: relative;

	}
	section .carousel-caption .hover a{
		display: block;
		text-decoration: none;
		
		width: 100px;
		margin:0 auto;
		text-align: center;
		color: black;
		display: block;
		padding-top: 10px;
		position: relative;
	} 
	section .carousel-caption a span{
		width: 100%;
		height: 100%;
		transition: 0.5s;
		display: block;
		font-weight: bold;
	}
	section .carousel-caption .hover a span:nth-child(1){
		color: black;
		padding-bottom: 20px;
	}
	section .carousel-caption .hover a span:nth-child(2){
		color: black;
	}
	section .carousel-caption:hover  a span:nth-child(1){
		transform: translateY(-170%);
	}
	section .carousel-caption:hover a span:nth-child(2){
		transform: translateY(-170%);
	}

	section .carousel-caption .hover::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		z-index: -1;
		background: #EEE8AA;
		transition: transform 1s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	}
	section .carousel-caption .hover::before{
		transform: scaleX(0);
	}

	section .carousel-caption .hover:hover::before{
		transform: scaleX(1);
	}
	section .carousel-control-next{
		opacity: 10;
	}
	section #con2 h2{
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 1px;
		padding: 30px 500px 20px 0;
		font-family: 'Roboto Condensed', sans-serif;
	}
	section #con2 h4{
		font-size: 10px;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
		padding-top:150px;
	}
	section #con2 hr{
		color: black;
		border-width: 3px;
		margin-top: 155px;
	}

	section #con2 .button a{
	  position: absolute;
	  left: 115px;
	  margin-top: 50px;
	  transform: translate(-50%,-50%);
	  width: 200px;
	  height: 60px;
	  text-align: center;
	  transform-style: preserve-3d;
	  perspective: 1000px;
	  transform-origin: center center;
	  background: linear-gradient(to left, #c31a5b, #7129bd);
	  border-radius: 30px;
	}

	section #con2 .button  span{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  display: block;
	  text-align: center;
	  line-height: 60px;
	  font-size: 24px;
	  background: rgba(255,255,255,.05);
	  transform-style: preserve-3d;
	  backface-visibility: hidden;
	  border-radius: 30px;
	  transition: 1s;
	  color: black;
	}

	section #con2 .button  span.front{
	  transform: rotateX(0deg) translateZ(20px);
	}

	section #con2:hover span.front{
	  transform: rotateX(-180deg) translateZ(20px);
	}

	section #con2 .button  span.back{
	  transform: rotateX(-180deg) translateZ(20px);
	}

	section #con2:hover span.back{
	  transform: rotateX(0deg) translateZ(20px);
	}

	section #con2 .button  span.center{
	  background: linear-gradient(to left, #c31a5b, #7129bd);
	}

	section #con2 .button  span.center:before{
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: linear-gradient(to left, #ffdd1f, #c31a5b);
	  border-radius: 30px;
	  transform: translateZ(-1px);  
	  
	}

	section #con2:hover span.center{
	  transform: rotateY(-180deg);
	}

	section #con3{
		margin-top: 150px;
		padding-bottom: 40px;
	}

	section #con3 a{
	  text-align: center;
	  text-decoration: none;
	  color: black;
	}
	section #con3 h5{
		font-size: 15px;
		font-family: 'Roboto Condensed', sans-serif;
	  	font-weight: 600;
	}

	section #con3 .card{
		background: #f4f4f4;
	}
	section #con3 .card .inner{
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		background: #f4f4f4;
		z-index: 1;
	}
	section #con3 .card-body{
		z-index: 0;
	}

	section #con3 .inner{
	  overflow: hidden;
	}
	section #con3 .inner img{
	  transition: all 2s ease;
	}
	section #con3 .card:hover img{
	  transform: scale(1.5);
	}
	section #con4 h4{
		float: right;
		font-size: 8px;
	  	font-weight: bold;
	  	font-family: 'Roboto Condensed', sans-serif;
	  	position: absolute;
	  	top: 10px;
	}
	section #con5{
		margin-top: 90px;
	}
	section #con5 .col1 hr{
		color: black;
		border-width: 3px;
	}
	section #con5 h4{
	  font-size: 10px;
	  font-weight: bold;
	  font-family: 'Roboto Condensed', sans-serif;
	  position: absolute;
	  top: 11px;
	}
	section #con5 h3{
	  font-size: 30px;
	  font-weight: 600;
	  letter-spacing: 1px;
	  padding: 60px 400px 20px 0;
	  font-family: 'Roboto Condensed', sans-serif;
	}
	section #con5 .button a{
	  position: absolute;
	  left: 140px;
	  margin-top: 50px;
	  transform: translate(-50%,-50%);
	  width: 250px;
	  height: 60px;
	  text-align: center;
	  transform-style: preserve-3d;
	  perspective: 1000px;
	  transform-origin: center center;
	  background: linear-gradient(to left, #c31a5b, #7129bd);
	  border-radius: 30px;
	}
	section #con5 .button  span{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  display: block;
	  text-align: center;
	  line-height: 60px;
	  font-size: 24px;
	  background: rgba(255,255,255,.05);
	  transform-style: preserve-3d;
	  backface-visibility: hidden;
	  border-radius: 30px;
	  transition: 1s;
	  color: black;
	  font-weight: bold;
	}
	section #con5 .button  span.front{
	  transform: rotateX(0deg) translateZ(20px);
	}
	section #con5:hover span.front{
	  transform: rotateX(-180deg) translateZ(20px);
	}
	section #con5 .button  span.back{
	  transform: rotateX(-180deg) translateZ(20px);
	}
	section #con5:hover span.back{
	  transform: rotateX(0deg) translateZ(20px);
	}
	section #con5 .button  span.center{
	  background: linear-gradient(to left, #c31a5b, #7129bd);
	}
	section #con5 .button  span.center:before{
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: linear-gradient(to left, #ffdd1f, #c31a5b);
	  border-radius: 30px;
	  transform: translateZ(-1px);  
	}
	section #con5:hover span.center{
	  transform: rotateY(-180deg);
	}
	.rows {
	  	width: 100%;
	  	height: 100vh ;
	  	overflow: hidden;
	  	margin-top: 200px;
	}
	.rows .colum{
	  	width: 25%;
	  	height: 100%;
	  	float: left;
	  	box-sizing: border-box;
	  	z-index: 1;  
	}
	.rows .colum  .content{
	  	position: relative;
	  	height: 100%;  
	}
	.rows .colum .content h1{
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 100%;
	  background-color: rgba(0,0,0,.1);
	  margin: 0;
	  padding: 0;
	  color: rgba(255,255,255,.2);
	  font-size: 15em;
	}
	.rows .colum .content .box{
	  	position: absolute;
	  	top: 50%;
	  	transform: translateY(100%);
	  	box-sizing: border-box;
	  	padding:40px;
	  	background-color: rgba(255,255,255,1);
	  	transition: 3s;
	  	opacity: 0;
	  	border:1px solid black;
	}
	.rows .colum.active .content .box {
	  opacity: 1;
	  transform: translateY(-50%);
	}
	.rows .colum .content .box h2{
	  	margin: 0;
	  	padding: 0;
	  	font-size: 25px;
	  	color: black;
	}
	.rows .colum.active .content .box .borde{
		border-top: 2px solid black;
		margin:20px 150px 20px 0;
	}
	.rows .colum .content .box p{
	  font-size: 15px;
	  color: black;
	}
	.rows .colum .bg{
	  	position: absolute;
	  	top:0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	pointer-events: none;
	  	z-index: -1;
	}
	.rows .colum.active .bg.bg1{
	  background: url("../img/1.jpg");
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center;
	  transition: 2s;
	}
	.rows .colum.active .bg.bg2{
	  background-image: url('../img/2.jpg');
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center;
	  transition: 2s;
	}
	.rows .colum.active .bg.bg3{
	  background-image: url('../img/3.jpg');
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center;
	  transition: 2s;
	}
	.rows .colum.active .bg.bg4{
	  background-image: url('../img/4.jpg');
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center;
	  transition: 2s;
	}
	section #con6{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	section #con6 a{
	  text-align: center;
	  text-decoration: none;
	  color: black;
	}
	section #con6 h6{
	  font-size: 10px;
	  font-weight: bold;
	  padding-bottom: 30px;
	}
	section #con6 h4 i{
		padding-top: 30px;
	  	color: #c8a559;
	  	font-size: 20px;
	}

	section #con6 h5{
	  font-size: 20px;
	  font-weight: bold;
	}
	/* responsive */
	@media only screen and (max-width : 1280px){
	  .rows {
	    width: 100%;
	    height: 80vh ;
	  
	  }
	}
	@media only screen and (max-width : 1200px){
	  section  #con1 h1{
	    padding-right: 300px;
	  }
	  section #con2 h2{
	  	padding-right:400px;
	  }
	  .rows .colum.active .content .box .borde{
		margin:20px 100px 20px 0;
	}	
	}
	@media only screen and (max-width : 1000px){
	  section  #con1 h1{
	    padding-right: 300px;
	  }
	  section  #con1{
	  	padding-top: 100px;
	  }
	  section  .carousel{
	  	margin-top: 50px;
	  }
	  section #con2 h4{
	  	padding-top: 50px;
	  }
	  section #con2 hr{
	  	margin-top: 55px;
	  }
	  section #con2 h2{
	  	padding-right:100px;
	  }
	  section #con3{
	  	margin-top: 20px;
	  	padding-bottom:50px; 
	  }
	  section #con5{
	  	margin-top: 60px;
	  }
	  section #con5 h3{
	  	padding-right: 100px;
	  }
	  .rows  .colum .content h1{
    	display: none;
  		}
  		.rows .colum .content .box h2{
	  	font-size: 20px;
		}
	.rows .colum .content .box p{
	  font-size: 10px;
	}
}

	@media only screen and (max-width : 990px){
	  section  #con1 h1{
	    padding-right: 0;
	  }
	  section #con3{
	  	margin-top: 140px;
	  	padding-bottom:50px; 
	  }
	  section #con4 h4{
	  	font-size: 6px;
	  }
	}
	@media only screen and (max-width : 760px){
		section #con5 .col1 hr{
			display: none;
		}
		section #con2 hr{
			display: none;
		}
	}
	@media only screen and (max-width : 750px){
	  section  #con2 h2{
	    padding-right: 0;
	  }
	  section #con5 h3{
	  	padding-right: 0;
	  }
	  section #con4 h4{
	  	display: none;
	}
	.rows .colum.active .content .box .borde{
		margin:20px 50px 20px 0;
	}
	.rows .colum .content .box{
		width: 100%;
		padding: 10px 0;
	}
	section #con6{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	section #con6 h6{
	  padding-bottom: 10px;
	}
	section #con6 h5{
	  padding-bottom: 10px;
	}
}
	@media only screen and (max-width : 500px){
	  section  #con1 h1{
	    font-size: 20px;
	    text-align: center;
	  }
	  section .carousel-item img{
		height: 300px;
	}
	  section  #con2 h2{
	  	font-size: 20px;
	  }
	  section  #con2 h2,h4{
	   	text-align: center;
	  }
	  section #con2 .button{
	  	display: none;
	  }
	  section #con3{
	  	margin-top: 30px;
	  	padding-bottom: 0px;
	  }
	  section #con5{
	  	margin-top: 20px;
	  }
	  section #con5 h3{
	  	text-align: center;
	  }
	  section #con5 h4{
	  	padding-left: 140px;
	  }
	  section #con5 .button{
	  	display: none;
	  }
	}
@media only screen and (max-width : 375px){
  .rows {
    height: 60vh ;
  }
  .rows .colum .content .box h2{
	  	font-size: 13px;
	}
	.rows .colum .content .box p{
	  font-size: 7px;
	}
	section #con5 h4{
	  	padding-left: 120px;
	  }
}


/* css footer */
footer{
  height: auto;
  background-color: black;
}

footer  .column1{
  margin: 100px 0 0 0px;
}


footer  .column1 h1{
  padding: 420px 0 0 100px;
  font-size: 14px;
  font-weight: bold;
}

footer  .column2 p{
  color: white;
  font-size: 20px;
  padding: 100px 250px 0 0;
}
footer  .column2 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
footer  .column3 p{
  font-weight: bold;
  color: white;
  font-size: 12px;
}
footer .column4{
  width: 100%;
  height: auto;
  overflow: hidden;
}
footer .column4 .column5{
  width: 25%;
  float: left;
  box-sizing: border-box;
}
footer .column4 .column5 h1{
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
footer .column4 .column5 a,p{
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
}
footer .column4 .column5:nth-child(3){
  padding: 0 50px;
}
footer .column4 .column5:nth-child(4){
	padding: 0 40px;
}

footer .column6 h1{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 80px 0;
}


/*responsive footer*/



@media only screen and (max-width : 1024px){
  footer  .column2 p{
    padding-right: 150px;
  }

  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:45px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:45px;
  }
}
@media only screen and (max-width : 768px){
	footer  .column1{
		margin-top: 40px;
	}
	footer  .column1 img{
		margin-left:0;
	}
	footer  .column1 p{
		padding-left:0px;
	}
	footer  .column2 p{
  		padding-right: 0px;
  		padding-top: 40px;
  	}
  	footer .column3{
  		display: none;
  	}
  	footer  .column6 h1{
		margin:40px 0;
	}
}	

@media only screen and (max-width : 500px){
	footer .column1{
		text-align: center;
	}
	footer .column2{
		text-align: center;
	}
}


@media only screen and (max-width : 414px){
  footer .column1 {
      text-align: center;
  }

  footer .column2 p{
    padding: 30px 0 0 0;
    text-align: center;
  }
  footer .column3 p{
    text-align: center;
    padding-bottom: 20px;
  }
  footer .column4 .column5{
    margin-top: 20px;
  }
  footer .column4 .column5 h1{
    color: white;
    font-size: 10px;
  }
  footer .column4 .column5 a,p{
    font-size: 10px;
  }
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:15px;
  }
  footer .column4 .column5:nth-child(3){
    
    padding: 0 20px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:20px;
  }
}

@media only screen and (max-width : 375px){
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:30px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:30px;
  }
}
