*{
	margin: 0;
	padding: 0;
}
	/* font */
	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

	header{
		width: 100%;
		background: #f4f4f4;
		position: fixed;
		z-index: 10;
	}
	header ul{
		margin: 0;
		padding:0;
		display: flex;
	}
	header ul li {
	 	margin-left: 60px;
	 	position: relative;
	 }
	header ul li a{
	 	font-family: 'Roboto Condensed', sans-serif !important;
	 	position: relative;
	 	height: 30px !important;
	  	font-size: 15px;
	  	font-weight: 600;
	  	overflow: hidden;
	  	display: block;
	 }
	header ul li a span{
		width: 100%;
		height: 100%;
		display: block;
		transition: 0.5s;
	}
	header ul li a span:nth-child(1){
		color: black;
	}
	header ul li a span:nth-child(2){
		padding-top: 20px;
		color: black;
	}
	header ul li:hover a span:nth-child(1){
		transform: translateY(-200%);
	}
	header ul li:hover a span:nth-child(2){
		transform: translateY(-180%);
	}
	header ul li button{
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid black;
		font-size: 13px;
	  	font-weight: 600;
	  	padding: 10px 30px;
		cursor: pointer;
		transition: color 0.5 ease-in-out;
		position: relative;
		background: none;
	}
	header ul li button:hover{
		color: white;
	}

	header ul li  button::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background: black;
		z-index: -1;
		transition: transform 1s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	}
	header ul li button::before{
		transform: scaleX(0);
	}

	header ul li button:hover::before{
		transform: scaleX(1);
	}
/* css section */
section #con1 .col1{
	margin: 161px 0 0 0;
}
section #con1 h4{
	margin: 170px 0 50px 0;
	font-size: 10px;
	font-weight: bold;
  	font-family: 'Roboto Condensed', sans-serif;
}

section #con1 h1{
	font-size: 35px;
	font-weight: 600;
	padding-right:400px;
	letter-spacing: 1.5px;
  	font-family: 'Open Sans', sans-serif;
}

section #con1 p{
	color: black;
	line-height: 2;
	letter-spacing: 1.5px;
  	font-family: 'Open Sans Condensed', sans-serif;
}

section #con2 .col{
	border-top:black solid 1px;
	margin-bottom: 10px;
}
section #con2 p{
	color: black;
}
section #con2 button{
	margin-top: 10px;
	padding: 10px 50px;
	font-weight: bold;
}
section #con2 button:hover{cursor: pointer}
button {
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 0 40px;
    overflow: hidden;
}
section #con2 button:hover:before{opacity: 1; transform: translate(0,0);}
button:before{
    content: attr(data-hover);
    position: absolute;
    top: 1.1em; left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%,0);
    transition: all .3s ease-in-out;
}
section #con2 button:hover div{opacity: 0; transform: translate(100%,0)}
button div{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease;
}

section #con2 #inner{
	  overflow: hidden;
	}
	section #con2 #inner img{
	  transition: all 1s ease-in-out;
	}
	section #con2 #effect:hover img{
	  transform: scale(0.9);
	}

section #con3{
	margin: 100px auto;
}
section #con3 a{
	text-align: center;
	text-decoration: none;
	color: black;
}

section #con3 h2{
  font-size: 20px;
  font-weight: bold;
}
section #con3 h6{
  font-size: 10px;
}
section #con3 h3 i{
  padding-top: 20px;
  color: #c8a559;
  font-size: 20px;
}

/* responsive */

@media only screen and (max-width : 1200px){
	section #con1 .col1{
		margin: 131px 0 0 0;
	}
	section #con1 h4{
		margin: 140px 0 50px 0;
	}

	section #con1 h1{
		padding-right:300px;
	}

	section #con1 p{
		padding-right: 300px !important;
	}
}
@media only screen and (max-width : 995px){

	section #con1 h1{
		padding-right:100px;
		font-size: 30px;
	}

	section #con1 p{
		padding-right: 100px !important;
		font-size: 15px;
	}
}
@media only screen and (max-width : 770px){
	section #con1 .col1{
		display: none;
	}
	section #con1 h4{
		margin: 100px 0 50px 0;
	}

	section #con1 h1{
		padding-right:100px;
		font-size: 25px;
	}

	section #con1 p{
		padding-right: 100px !important;
	}
}
@media only screen and (max-width : 770px){
	section #con1 .col1{
		display: none;
	}
	section #con1 h4{
		text-align: center;
	}

	section #con1 h1{
		padding-right: 0;
		padding:10px auto !important;
		font-size: 20px;
	}

	section #con1 p{
		padding-right: 0 !important;
		padding:20px auto !important;
		padding-bottom: 50px !important;
		font-size: 12px;
	}
}
/* css footer */
footer{
  height: auto;
  background-color: black;
}

footer  .column1{
  margin: 100px 0 0 0px;
}


footer  .column1 h1{
  padding: 420px 0 0 100px;
  font-size: 14px;
  font-weight: bold;
}

footer  .column2 p{
  color: white;
  font-size: 20px;
  padding: 100px 250px 0 0;
}
footer  .column2 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
footer  .column3 p{
  font-weight: bold;
  color: white;
  font-size: 12px;
}
footer .column4{
  width: 100%;
  height: auto;
  overflow: hidden;
}
footer .column4 .column5{
  width: 25%;
  float: left;
  box-sizing: border-box;
}
footer .column4 .column5 h1{
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
footer .column4 .column5 a,p{
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
}
footer .column4 .column5:nth-child(3){
  padding: 0 50px;
}
footer .column4 .column5:nth-child(4){
	padding: 0 40px;
}

footer .column6 h1{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 80px 0;
}


/*responsive footer*/



@media only screen and (max-width : 1024px){
  footer  .column2 p{
    padding-right: 150px;
  }

  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:45px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:45px;
  }
}
@media only screen and (max-width : 768px){
	footer  .column1{
		margin-top: 40px;
	}
	footer  .column1 img{
		margin-left:0;
	}
	footer  .column1 p{
		padding-left:0px;
	}
	footer  .column2 p{
  		padding-right: 0px;
  		padding-top: 40px;
  	}
  	footer .column3{
  		display: none;
  	}
  	footer  .column6 h1{
		margin:40px 0;
	}
}	

@media only screen and (max-width : 500px){
	footer .column1{
		text-align: center;
	}
	footer .column2{
		text-align: center;
	}
}


@media only screen and (max-width : 414px){
  footer .column1 {
      text-align: center;
  }

  footer .column2 p{
    padding: 30px 0 0 0;
    text-align: center;
  }
  footer .column3 p{
    text-align: center;
    padding-bottom: 20px;
  }
  footer .column4 .column5{
    margin-top: 20px;
  }
  footer .column4 .column5 h1{
    color: white;
    font-size: 10px;
  }
  footer .column4 .column5 a,p{
    font-size: 10px;
  }
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:15px;
  }
  footer .column4 .column5:nth-child(3){
    
    padding: 0 20px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:20px;
  }
}

@media only screen and (max-width : 375px){
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:30px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:30px;
  }
}
