*{
	margin: 0;
	padding: 0;
}
	/* font */
	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

	header{
		width: 100%;
		background: #f4f4f4;
		position: fixed;
		z-index: 10;
	}
	header ul{
		margin: 0;
		padding:0;
		display: flex;
	}
	header ul li {
	 	margin-left: 60px;
	 	position: relative;
	 }
	header ul li a{
	 	font-family: 'Roboto Condensed', sans-serif !important;
	 	position: relative;
	 	height: 30px !important;
	  	font-size: 15px;
	  	font-weight: 600;
	  	overflow: hidden;
	  	display: block;
	 }
	header ul li a span{
		width: 100%;
		height: 100%;
		display: block;
		transition: 0.5s;
	}
	header ul li a span:nth-child(1){
		color: black;
	}
	header ul li a span:nth-child(2){
		padding-top: 20px;
		color: black;
	}
	header ul li:hover a span:nth-child(1){
		transform: translateY(-200%);
	}
	header ul li:hover a span:nth-child(2){
		transform: translateY(-180%);
	}
	header ul li button{
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid black;
		font-size: 13px;
	  	font-weight: 600;
	  	padding: 10px 30px;
		cursor: pointer;
		transition: color 0.5 ease-in-out;
		position: relative;
		background: none;
	}
	header ul li button:hover{
		color: white;
	}

	header ul li  button::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background: black;
		z-index: -1;
		transition: transform 1s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	}
	header ul li button::before{
		transform: scaleX(0);
	}

	header ul li button:hover::before{
		transform: scaleX(1);
	}

/* css section */
section #con1 h4{
	font-size: 10px;
	font-weight: 600;
	font-family: 'Roboto Condensed', sans-serif;
}
section #con1 h1{
	font-size: 30px;
	font-weight: 700;
	padding: 20px 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 5px 5px 5px #acacac;
}
section #con1 a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	color: #CD6600;
}
section #con1 ul li a:before{
	content: attr(data-text);
	position: absolute;
	top: 8px;
	overflow: hidden;
	color: black;
	white-space: nowrap;
	transition: 0.5s ease-in-out;	
}
section #con1 ul:hover li a:before{
	animation: ani1 1s steps(19) forwards;	
}
section #con1 ul li:hover a:before{
	animation: ani2 1s steps(19) forwards;	
}
@keyframes ani2 {
	0%{
		width: 0;
	}
	100%{
		width: 187.28px;
		
	}
}	
@keyframes ani1 {
	0%{
		width: 187.28px;
	}
	100%{
		width: 0;
		
	}
}	
section #con2 .card-deck{
	margin-top: 100px;
}
section #con2 .inner {
  	overflow: hidden;
  	box-shadow: 0 5px 15px rgba(0,0,0,.5);
  	transition: 1s;s
	background: #f4f4f4;
	z-index: 1;
}
section #con2 .inner img{
  	transition: all 2s ease;
}

section #con2 .card:hover img{
 	transform: scale(1.5);
}


section #con2 h4{
	font-size: 12px;
	font-weight: 600;
	font-family: 'Roboto Condensed', sans-serif;
}
section #con2 h5{
	font-size: 30px;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
}
section #con2 a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
section #con3{
	margin:100px auto;
}
section #con3 a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
section #con3 h4 i{
	color: #c8a559;
	font-size: 20px;
	padding-top: 30px;
}
section #con3 h2{
	font-size: 20px;
}
section #con3 h6{
	font-size: 10px;
	padding-bottom: 30px;
}


@media only screen and (max-width : 750px){
	section #con2 h5{
		font-size: 20px;
	}
	section #con2 .card-deck:nth-child(1){
		margin-top: 40px;
	}
	section #con2 .card-deck{
		margin-top: 10px;
	}
	section #con3{
	margin:10px auto;
	}
}
footer{
  height: auto;
  background-color: black;
}

footer  .column1{
  margin: 100px 0 0 0px;
}


footer  .column1 h1{
  padding: 420px 0 0 100px;
  font-size: 14px;
  font-weight: bold;
}

footer  .column2 p{
  color: white;
  font-size: 20px;
  padding: 100px 250px 0 0;
}
footer  .column2 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
footer  .column3 p{
  font-weight: bold;
  color: white;
  font-size: 12px;
}
footer .column4{
  width: 100%;
  height: auto;
  overflow: hidden;
}
footer .column4 .column5{
  width: 25%;
  float: left;
  box-sizing: border-box;
}
footer .column4 .column5 h1{
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
footer .column4 .column5 a,p{
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
}
footer .column4 .column5:nth-child(3){
  padding: 0 50px;
}
footer .column4 .column5:nth-child(4){
	padding: 0 40px;
}

footer .column6 h1{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 80px 0;
}


/*responsive footer*/


@media only screen and (max-width : 1024px){
  footer  .column2 p{
    padding-right: 150px;
  }

  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:45px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:45px;
  }
}
@media only screen and (max-width : 900px){
	section #con2 .card-deck{
		margin-top: 80px;
		height: 400px !important;
	}
}
@media only screen and (max-width : 768px){
	footer  .column1{
		margin-top: 40px;
	}
	footer  .column1 img{
		margin-left:0;
	}
	footer  .column1 p{
		padding-left:0px;
	}
	footer  .column2 p{
  		padding-right: 0px;
  		padding-top: 40px;
  	}
  	footer .column3{
  		display: none;
  	}
  	footer  .column6 h1{
		margin:40px 0;
	}
}
@media only screen and (max-width : 700px){
	section #con2 .card-deck{
		margin-top: 80px;
		height: 280px !important;
	}
}	
@media only screen and (max-width : 580px){
	section #con2 .card-deck{
		margin-top: 80px;
		height: 980px !important;
	}
}	
@media only screen and (max-width : 500px){
	footer .column1{
		text-align: center;
	}
	footer .column2{
		text-align: center;
	}
}


@media only screen and (max-width : 414px){
  footer .column1 {
      text-align: center;
  }

  footer .column2 p{
    padding: 30px 0 0 0;
    text-align: center;
  }
  footer .column3 p{
    text-align: center;
    padding-bottom: 20px;
  }
  footer .column4 .column5{
    margin-top: 20px;
  }
  footer .column4 .column5 h1{
    color: white;
    font-size: 10px;
  }
  footer .column4 .column5 a,p{
    font-size: 10px;
  }
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:15px;
  }
  footer .column4 .column5:nth-child(3){
    
    padding: 0 20px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:20px;
  }
}

@media only screen and (max-width : 375px){
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:30px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:30px;
  }
}
