*{
	margin: 0;
	padding: 0;
}
/* font */
	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

	header{
		width: 100%;
		background: #f4f4f4;
		position: fixed;
		z-index: 10;
	}
	header ul{
		margin: 0;
		padding:0;
		display: flex;
	}
	header ul li {
	 	margin-left: 60px;
	 	position: relative;
	 }
	header ul li a{
	 	font-family: 'Roboto Condensed', sans-serif !important;
	 	position: relative;
	 	height: 30px !important;
	  	font-size: 15px;
	  	font-weight: 600;
	  	overflow: hidden;
	  	display: block;
	 }
	header ul li a span{
		width: 100%;
		height: 100%;
		display: block;
		transition: 0.5s;
	}
	header ul li a span:nth-child(1){
		color: black;
	}
	header ul li a span:nth-child(2){
		padding-top: 20px;
		color: black;
	}
	header ul li:hover a span:nth-child(1){
		transform: translateY(-200%);
	}
	header ul li:hover a span:nth-child(2){
		transform: translateY(-180%);
	}
	header ul li button{
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid black;
		font-size: 13px;
	  	font-weight: 600;
	  	padding: 10px 30px;
		cursor: pointer;
		transition: color 0.5 ease-in-out;
		position: relative;
		background: none;
	}
	header ul li button:hover{
		color: white;
	}

	header ul li  button::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background: black;
		z-index: -1;
		transition: transform 1s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
	}
	header ul li button::before{
		transform: scaleX(0);
	}

	header ul li button:hover::before{
		transform: scaleX(1);
	}

	/* section */
	section #con1 .col1{
		margin-top: 141px;
	}
	section #con1 h4{
		margin-top: 150px;
		font-size: 10px;
		font-weight: 600;
		font-family: 'Roboto Condensed', sans-serif;
	}

	section #con1 h1{
		font-size: 40px;
		font-weight: 600;
		font-family: 'Roboto Condensed', sans-serif;
		padding:  20px 500px 50px 0;
	}
	section #con2{
		margin-top: 100px;
	}
	section #con2 h1{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 35px;
		color: black;
		font-weight: bold;
	}

	section #con2 h3{
		font-size: 10px;
		color: black;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;

	}
	section #con2 p{
		font-size: 15px;
		color: black;
		letter-spacing: 1px;
		line-height: 1.5;
		font-family: 'Open Sans Condensed', sans-serif;
		padding-top: 30px;
	}
	section #con2 a{
		text-decoration: none;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
	}

	section #con3{
		border-top: 1px solid black;
		margin-top: 100px;
	}
	section #con3 .row1{
		margin-top: 100px;
	}
	section #con3 h1{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 35px;
		color: black;
		font-weight: bold;
	}

	section #con3 h3{
		font-size: 10px;
		color: black;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
	}
	section #con4 img{
		width: 50px;
		height: 50px;
		margin: 50px auto 0 auto;
	}
	section #con4 p{
		text-align: center;
		color: black;
		margin-bottom: 50px;
	}
	section #con5{
		border-top: 1px solid black;
		margin-top: 100px;
	}
	section #con5 .row1{
		margin-top: 100px;
	}
	section #con5 h1{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 35px;
		color: black;
		font-weight: bold;
	}

	section #con5 h3{
		font-size: 10px;
		color: black;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
	}
	section #con6 a{
		text-decoration: none;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
	}
	section #con6 h3{
		font-size: 10px;
		color: black;
		font-weight: bold;
		font-family: 'Roboto Condensed', sans-serif;
	}
	section #con6 .inner{
	  overflow: hidden;
	}

	section #con6 .inner img{
	  transition: all 1.5s ease;
	}
	section #con6 .inner:hover img{
	  transform: scale(1.5);
	}
	section #con7 a{
		text-decoration: none;
		color: black;
		font-family: 'Roboto Condensed', sans-serif;
	}

	section #con7 h2{
		font-size: 20px;
		font-weight: bold;
	}
	section #con7 h6{
		font-size: 10px;
	}
	section #con7 h4 i{
		padding-top: 20px;
		color: #c8a559;
	}

	

	/* responsive section */
	@media only screen and (max-width : 1200px){
		section #con1 h1{
			padding:  20px 300px 50px 0;
		}
	}
	@media only screen and (max-width : 995px){
		section #con2 p{
			font-size: 12px;
			padding: 30px 0 0 0 !important;
		}
		section #con3{
			margin-top: 70px !important;
		}
		section #con3 .row1{
			margin-top: 70px !important;
		}
		section #con5{
			margin-top: 70px !important;
		}
		section #con5 .row1{
			margin-top: 70px !important;
		}
	}
	@media only screen and (max-width : 975px){
		section #con1 h1{
			padding:  20px 100px 50px 0;
		}
		section #con1 h1{
			font-size: 30px;
			padding-right: 0;
			margin: 10px auto !important;
		}
	}
	@media only screen and (max-width : 775px){
		section #con1 .col1{
			display: none;
		}
		section #con4 .card{
			margin-bottom: 30px;
		}
		section #con1 h4{
			margin-top: 110px;
			font-size: 10px;
			font-weight: 600;
			font-family: 'Roboto Condensed', sans-serif;
		}

		section #con1 h1{
			font-size: 30px;
			padding:  20px 100px 50px 0;
		}
		section #con3{
			margin-top: 40px !important;
		}
		section #con3 .row1{
			margin-top: 40px !important;
		}
	}
@media only screen and (max-width : 500px){
		section #con1 h4{
			text-align: center;
		}
		section #con1 h1{
			text-align: center;
		}
		section #con2{
			text-align: center;
		}
		section #con2 h1{
			font-size: 20px;
			padding-top: 10px;
			text-align: center;
		}
		section #con3 h1{
			font-size: 20px;
		}
		section #con3{
			border-top: 0;
			margin-top: 50px !important;
			text-align: center;
		}
		section #con3 .row1{
			margin-top: 50px !important;
		}
		section #con3 h1{
			padding-top: 20px;
		}
		section #con5{
			text-align: center;
		}
		section #con5 h1{
			margin-top: 20px;
		}
		section #con5{
		border-top: 0;
		margin-top: 20px;
	}
	}

	@media only screen and (max-width : 375px){

		section #con1 h1{
			text-align: center;
		}
		section #con2{
			margin-top: 50px;
			text-align: center;
		}
		section #con2 h1{
			font-size: 20px;
			padding-top: 10px;
		}

		section #con2 h3{
			font-size: 10px;
			color: black;
			font-weight: bold;
			font-family: 'Roboto Condensed', sans-serif;

		}
		section #con2 p{
			font-size: 12px;
			padding: 30px 0 0 0 !important;
		}
	}
footer{
  height: auto;
  background-color: black;
}

footer  .column1{
  margin: 100px 0 0 0px;
}


footer  .column1 h1{
  padding: 420px 0 0 100px;
  font-size: 14px;
  font-weight: bold;
}

footer  .column2 p{
  color: white;
  font-size: 20px;
  padding: 100px 250px 0 0;
}
footer  .column2 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
footer  .column3 p{
  font-weight: bold;
  color: white;
  font-size: 12px;
}
footer .column4{
  width: 100%;
  height: auto;
  overflow: hidden;
}
footer .column4 .column5{
  width: 25%;
  float: left;
  box-sizing: border-box;
}
footer .column4 .column5 h1{
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
footer .column4 .column5 a,p{
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
}
footer .column4 .column5:nth-child(3){
  padding: 0 50px;
}
footer .column4 .column5:nth-child(4){
	padding: 0 40px;
}

footer .column6 h1{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 80px 0;
}


/*responsive footer*/



@media only screen and (max-width : 1024px){
  footer  .column2 p{
    padding-right: 150px;
  }

  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:45px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:45px;
  }
}
@media only screen and (max-width : 768px){
	footer  .column1{
		margin-top: 40px;
	}
	footer  .column1 img{
		margin-left:0;
	}
	footer  .column1 p{
		padding-left:0px;
	}
	footer  .column2 p{
  		padding-right: 0px;
  		padding-top: 40px;
  	}
  	footer .column3{
  		display: none;
  	}
  	footer  .column6 h1{
		margin:40px 0;
	}
}	

@media only screen and (max-width : 500px){
	footer .column1{
		text-align: center;
	}
	footer .column2{
		text-align: center;
	}
}


@media only screen and (max-width : 414px){
  footer .column1 {
      text-align: center;
  }

  footer .column2 p{
    padding: 30px 0 0 0;
    text-align: center;
  }
  footer .column3 p{
    text-align: center;
    padding-bottom: 20px;
  }
  footer .column4 .column5{
    margin-top: 20px;
  }
  footer .column4 .column5 h1{
    color: white;
    font-size: 10px;
  }
  footer .column4 .column5 a,p{
    font-size: 10px;
  }
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:15px;
  }
  footer .column4 .column5:nth-child(3){
    
    padding: 0 20px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:20px;
  }
}

@media only screen and (max-width : 375px){
  footer .column4 .column5:nth-child(1) h1{
    padding-bottom:30px;
  }
  footer .column4 .column5:nth-child(4) h1{
    padding-bottom:30px;
  }
}

